* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskerville', 'Calisto MT', Calibri, 'Arial', sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.root-container {
    width: 100%;
    background-color: #d6e4f0;
}

.sup_18_ml5 {
    font-size: 18px;
    margin-left: 5px;
}