* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskerville', 'Calisto MT', Calibri, 'Arial', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    place-content: center;
}

.root-container {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: minmax(auto, 1280px);
}

.input-style {
    border: 1px solid #cecece;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.button-style {
    border: 1px solid #cecece;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background: #333333;
    color: #c4c4c4;
    &:hover {
        background: #686868;
    }
}

.location-container {
    display: grid;
    grid-template-columns: minmax(auto, 1130px) minmax(auto, 150px);
    grid-template-rows: 3rem;
    align-content: center;

    & input[type='text'] {
        font-size: 28px;
    }
    & input[type='button'] {
        font-size: 20px;
    }
}

.api-key {
    font: {
        size: 36px;
        weight: blod;
    }
    color: #fd3f3f;
}

@import './style/weather.scss';